.App {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  /* ___________________________________________ */
  /* FOR ELEMENTAL VISIBILITY | TESTING PURPOSES */
  /* ADD ORANGE BOARDER AROUND ELEMENT */
  border: 5px solid orange;
  /* ___________________________________________ */
}
